.optionOuterBox {
    -fx-vgap: 10px;
    -fx-hgap: 10px;
    -fx-column-halignment: right;
    -fx-padding: 25px;
}

.optionGrid {
    -fx-vgap: 10px;
    -fx-hgap: 10px;
    -fx-column-halignment: right;
    -fx-padding: 25px;
}

.optionHeader {
    -fx-graphic-text-gap: 8px;
}

.optionLabel {
    -fx-font-size: 14px;
}

.list-view .list-cell {
    -fx-cell-size: -1px;
}

.table-view .table-row-cell {
    -fx-cell-size: -1px;
}